<!DOCTYPE html>
<html>
  <head>






    <!-- Google Tag Manager -->
<!--     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPM9SFF');</script> -->
    <!-- End Google Tag Manager -->




    <!-- Google Tag Manager -->
<!--     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5R5HKLV');</script> -->
    <!-- End Google Tag Manager -->

    <title>Survey1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      
  <body>

    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    <!--
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/69564/gxL.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>
  -->

    <!-- Qualaroo for localhost -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    <!--
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/81154/iSP.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>
    -->

    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/ki.js/74814/iIF.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> -->

    <!-- Qualaroo for localhost -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/81154/iSP.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> -->

    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/69584/gyb.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> -->


    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/ki.js/74814/iIF.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> -->

    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/69584/gyb.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> -->

    <!-- Qualaroo for localhost -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/81154/iSP.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> #rrrrrrrrrrrrrr 81154

 -->

    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/69572/gxV.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>


    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
      setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
      s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/81439/iWo.js'; f.parentNode.insertBefore(s, f);
       }, 1);
      })();
    </script> -->


    <!-- Qualaroo for akana.scf.es.dev.corp -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
<!--     <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/ki.js/77027/iNP.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>
    <script type="text/javascript" charset="utf-8">
    _kiq.push(['eventHandler', 'show', function(survey_id){  
        if(survey_id == 222305) {
          _kiq.push(['minimizeSurvey']);
        }
    } }]);
    </script> -->

    <!-- Qualaroo for localhost -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
  <!--  <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/ki.js/79870/iPE.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script> -->
    <!-- Qualaroo for localhost -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
 <!--   <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/ki.js/79086/iOm.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>
  -->

    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
      <!--
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/80874/iP0.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>
-->
    <!-- Qualaroo for serene-wildwood-04547.herokuapp.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    <!--
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = 'https://cl.qualaroo.com/test.ki.js/80650/iLY.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>
    -->
      

    <!-- Google Tag Manager (noscript) -->
<!--     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5R5HKLV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->



<!--     <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> -->


<!--     <p class="navbar-text float-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p> -->

    <%= yield %>


  </body>
</html>
